{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="col-6" style="max-height: 100%;">
    <div class="card" style="height: calc(50% - 0.75rem);">
        {% include 'stocks/search.html' %}
    </div>
    <div class="card" style="height: calc(50% - 0.75rem); margin-top: 1.5rem;">
        {% include 'stocks/watch.html' %}
    </div>
</div>
<div class="col-6" style="max-height: 100%;">
    <div class="card" style="height: 100%;">
        {% include 'stocks/stock_view.html' %}
    </div>
</div>
{% endblock %}
